<!-- home.html -->
{% extends 'base.html' %}

{% block content %}
<section id="about" class="section-about">
    <div class="content-about">
        <h1>Who We Are</h1>
        <p class="about-p">Code Swap Solutions is Hyderabad based IT organisation providing Software Development Services. Our goal is to deliver premium services worldwide at an affordable cost. Backed by a team of efficient, dynamic and experienced professionals; we have created a complete new world of quality web solutions Intouch Group. Our dedicated and skilled professionals have experience and expertise to deliver high-end services that exceed expectations of the clients. The team has a passionate approach to understand the needs and requirements of the clients and help them to create niche in the stiffly competitive web solutions space which directly leads to enhanced business profits.

            We Design, Develop, Market, Maintain and Secure the IT space. Our founders strongly believe that knowledge should be multiplied for the exponential growth of any organization. That is why we share what we know on our knowledge base. We educate our clients to make better business decisions. With our business automation solutions, we make sure you just focus on the business and not the hassles.
            
            An organization fueled by passion. Every talent needs to get exposed be it a fresher or a skilled professional that’s why we are a diverse team of creative, curious, and talented beings. We provide a platform for you to show the world what you hold within yourself. So take the leap of faith and get onboard with us on this journey of transforming the world digitally.</p>
    </div>
</section>
{% endblock %}
